*{
    margin: 0;
    padding: 0;
}

.container{
    height: 700px;
    border: 1px solid red;
    background-color: yellow;
    display: grid;
    grid-template-rows: 30px 400px 30px;
    grid-template-columns: 200px 400px;
    grid-template-areas: 
    "hd hd" 
    "side main" 
    "ft ft";
}

.box{
    border: 1px solid green;
    background-color: aqua;
    /* height: 100px;
    width: 100px; */
}

#header{
    grid-area: hd;
}

#sidebar{
    grid-area: side;
}

#content{
    grid-area: main;
}

#footer{
    grid-area: ft;
}